body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background: #e9edf2;
  }
  #gameboard{
    background-color: #cfd7e3;
    padding: 20px;
    outline: 2px solid #a6b2c2;
    border: 4px outset #dce4ef;
  }
  #game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  #difficulty-tab{
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    background-color: #cfd7e3;
    margin-bottom: 10px;
  }
  #grid {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 0;
    margin: 8px 0;
    padding: 2px;
    
    border: 3px inset #d6deea;

  }
  #info-tab{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    background-color: #cfd7e3;
  }
  .text_display{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    border: 1px inset #d6deea;
    margin: 0 5px;
    padding-bottom: 1px;
    
  }
  .cell {
    width: 30px;
    height: 30px;
    /* background-image: url("../Images/closed.svg");
    background-size: 100% auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  #game-controller{
    border: 4px inset #dce4ef;
    padding: 10px;
  }
  .cell.closed{
    border: 4px outset #dce4ef;
    background-color: #bfc9d8;
  }
  
  .revealed {
    background: #eef2f8;
    cursor: default;
    background-image: none;
    border: 1.5px solid #c6d1e0;
  }
  
  .mine {
    background-image: url("../Images/mines.svg");
    background-size: 100% auto;
    background-color: #eef2f8;
    border: 1px solid #c6d1e0;

  }
  
  .cell.checking {
    background-color: #eef2f8;
    background-image: none;
    border: 1px solid #c6d1e0;
  }
  .cell.closed.startIndex{
    border: 4px outset green;
    background-color: green;
  }
  .flagged {
    background-image: url("../Images/flag.svg");
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: default;
  }
  .button-old {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 0.2rem solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 2px 2px 0px 0px, 3px 3px 5px 0px rgb(40, 22, 22);
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
  
  .button-old:active {
    top: 2px;
    left: 2px;
    box-shadow: no;
  }
    
  .button-old.selected {
    box-shadow: 0px 0px 0px 0px;
    top: 2px;
    left: 2px;
  }
  .button-restart{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border: 2px solid;
    padding: 0.25em 0.5em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-image: url("../Images/restart.svg");
    background-size: 100% auto;
    background-repeat: no-repeat; 
    width: 30px;
    height: 30px;
  }
  .button-restart:active {
    border: 3px solid;
    
  }
  .incorrect_flag{
    color: red
  }
  .incorrectSelection {
    background-color: red;
  }
  .cell[data-value="1"] { color: blue; }
.cell[data-value="2"] { color: green; }
.cell[data-value="3"] { color: red; }
.cell[data-value="4"] { color: darkblue; }
.cell[data-value="5"] { color: brown; }
.cell[data-value="6"] { color: teal; }
.cell[data-value="7"] { color: black; }
.cell[data-value="8"] { color: gray; }